html {
	height: 100%;
	scroll-behavior: smooth;
}

/* Body */
body {
	font-family: 'Titillium Web', sans-serif;
	min-height: 100%;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.container {
	width: 70%;
	margin: auto;
}

/* Header */
header {
	padding: 60px 0;
}

header .logo {
	float: left;
}

header nav {
	float: right;
}

header nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

header nav ul li {
	display: inline-block;
	padding: 0 20px;
	vertical-align: middle;
}

header nav ul li a {
	color: inherit;
	text-decoration: none;
}

/* Button styles */
.default-button-container-lg,
.default-button-container-sm,
#projects .project .project-view-container {
	box-shadow: 5px 5px 0 #000 inset, -5px -5px 0 #000 inset;
	position: relative;
	margin: auto;
	display: inline-block;
	vertical-align: middle;
}

.default-button-container-lg .default-button-lg,
.default-button-container-sm .default-button-sm,
#projects .project .project-view {
	color: #fff;
	background: #000;
	padding: 10px 20px;
	font-size: 1.5em;
	font-weight: 700;
	position: absolute;
	top: 10px;
	right: 10px;
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	transition: .25s;
}

.default-button-container-sm .default-button-sm {
	padding: 10px;
	white-space: nowrap;
}

.default-button-container-lg .default-button-lg:hover,
.default-button-container-sm .default-button-sm:hover, 
#projects .project:hover .project-view {
	top: 0;
	right: 0;
	box-shadow: none;
	transition: .25s;
}

.default-button-container-sm .default-button-sm {
	top: 8px;
	right: 8px;
}

.default-button-container-sm .default-button-sm {
	font-size: 1em;
}

/* Contact sidebar */

#contact {
	position: fixed;
	min-height: 100%;
	left: 95px;
	top: 50%;
	transform: rotate(90deg) translateX(-50%);
	transform-origin: top left;
	white-space: nowrap;
}

#contact ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	font-size: 1.2em;
}

#contact ul li {
	color: rgba(0, 0, 0, .3);
	display: inline-block;
	margin-right: 35px;
}

#contact ul li a {
	color: inherit;
	transition: .25s;
}

#contact ul li a:hover {
	color: #000;
	transition: .25s;
}

#contact .line {
	display: inline-block;
	width: 150px;
	height: 1px;
	background: rgba(0, 0, 0, .3);
	border: none;
	line-height: 18px;
	margin: 5px 35px 5px 0;
}

/* Main content */
main h1 {
	font-size: 3em;
	font-weight: 400;
	margin: 20px 0;
}

main p.projects-button {
	margin: 60px 0;
}

main p.projects-button a {
	color: rgba(0, 0, 0, .5);
	text-decoration: none;
	font-size: 1.25em;
	transition: .25s;
}

main p.projects-button a:hover {
	color: #000;
	transition: .25s;
}

main p.projects-button a i {
	margin-right: 15px;
}

/* Emojis */
img.section-emoji {
	width: 64px;
	height: 64px;
	margin: 25px 0;
}

/* Projects */
#projects .project {
	margin-bottom: 50px;
}

#projects .project .project-view-outter,
#projects .project .project-details-outter {
	width: 50%;
	float: left;
	height: 300px;
}

#projects .project .project-view-container .project-view {
	padding: 0;
	position: relative;
	height: 100%;
}

#projects .project .project-view-container .project-view img {
	width: 100%;
	height: 100%;
	border: 1px solid #000;
}

#projects .project .project-details {
	padding: 30px;
}

#projects .project .project-details .project-number {
	margin: 0 0 20px 0;
	color: rgba(0, 0, 0, .3);
	font-weight: 400;
}

#projects .project .project-details .project-technologies {
	font-weight: 400;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}

#projects .project .project-details .project-title {
	margin: 10px 0;
}

#projects .project .project-details .project-description {
	margin: 0 0 30px 0;
}

#projects .project .project-details .default-button-sm i {
	margin-left: 10px;
}

/* Sections */
section {
	margin: 60px 0;
	text-align: center;
}

#projects {
	text-align: left;
}

section h1 {
	font-weight: 400;
	font-size: 2.5em;
	margin: 20px 0 60px 0;
}

section .section-emoji {
	width: 100%;
}

section .section-emoji img {
	width: 64px;
	height: 64px;
}

section#top-skills img.skill {
	display: inline-block;
	height: 130px;
}

#techdegree .techdegree-view {
	width: 65%;
	margin: auto;
}

#techdegree .techdegree-view img {
	width: 100%;
}

#techdegree .shadow {
	width: 100%;
}

/* Footer */
footer {
	margin: 120px 0 60px 0;
	text-align: center;
}

footer a {
	color: inherit;
	font-size: 1.5em;
	text-decoration: none;
}

footer a i {
	margin-right: 20px;
}

/* Utilities */
.highlight-container {
	position: relative;
	display: inline-block;
}

.highlight-container .highlight {
	position: absolute;
	width: 100%;
	background: #000;
	bottom: -20px;
	height: 3px;
	opacity: 0;
}

.rotate-to-initial {
	transform: rotate(270deg);
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Media Queries */
@media screen and (max-height: 480px) {
	#contact {
		display: none;
	}
}

@media screen and (max-width: 736px) {
	.container {
		width: 80%;
	}

	#contact {
		display: none;
	}

	header .logo, header nav {
		float: none;
		display: block;
		margin: auto;
	}

	header nav {
		text-align: center;
		margin-top: 60px;
	}

	header nav ul li {
		margin: 0 15px;
	}

	main h1 {
		font-size: 2em;
	}

	#projects .project .project-details-outter {
		height: auto;
	}

	#projects .project .project-view-outter,
	#projects .project .project-details-outter {
		width: 100%;
	}

	section#top-skills img.skill {
		height: 70px;
	}

	section h1 {
		font-size: 2em;
	}
}