/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body,
input,
button {
 font-family: 'Playfair Display', serif;
}

body {
  font: 1em/1.5;
  color: #2f2f2f;
  background: #fff;
}

header {
	text-align: center;  
}

h1 {
	font-size: 2.5em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
	margin: 0;
}

a {
  text-decoration: none;
}

/* ================================= 
  Form Element Styles
==================================== */

form {
	padding: 50px;
	margin-bottom: 50px;
	background: #d1ccc0;
	font-weight: 300;
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.5em;
}

legend,
button {
	font-size: 1.25em;	
}

legend {
	font-weight: 700;
	padding-top: .5em;
	margin-bottom: 1.125em;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}

label {
	color: #000;
	display: block;
	margin-bottom: .5em;
}

label.disabled {
	color: rgba(0, 0, 0, .5);
}

input,
select {
	margin-bottom: 1.125em;	
}

input, select, button {
	color: #fff;
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	background: #84817a;
	border: none;
	outline: none;
}

input:focus {
	background: #fff;
	color: #2f2f2f;
	border-color: #5e97b0;
	transition: border-color .4s, background-color .4s;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

button {
	margin: 1.25em 0 .5em;
	cursor: pointer;
}

button:hover {
	background: #353431;
}

.error-message {
	color: #b33939;
	font-size: .8em;
	display: block;
	margin-bottom: 5px;
}

#total {
	font-weight: 900;
}

/* ================================= 
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.25em;
}

/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
	header {
		padding: 2em 0;
	}
	button {
		width: 100%;
	}
}

@media (min-width: 680px) {
	header {
		padding: 4.65em 0 2.5em;
	}
	.col {
		float: left;
	}
	.col + .col {
		margin-left: 2.5%;
	}
	.col-3 {
		width: 23%;
	}
	.col-6 {
		width: 49%;
	}
}